# ─── Docker Compose ──────────────────────────────────────────────────────────
POSTGRES_USER=dormio
POSTGRES_PASSWORD=dormio123
POSTGRES_DB=dormio_db
POSTGRES_PORT=5432

REDIS_PASSWORD=redis123
REDIS_PORT=6379

PGADMIN_EMAIL=admin@dormio.local
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050
